<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shop</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<div id="app">
	<div class="page__wrapper">

		<header>
			<header>
				<div class="container">
					<div class="header__wrapper">
						<div class="header__col">
						</div>
						<div class="header__col">
							<div class="search">
								<form action="#" class="search__form" @submit.prevent="filter">
									<div class="form-group">
										<div class="search-field">
											<input type="search" name="fieldSearch" class="form-control" placeholder="Search" v-model="userSearch">
											<button class="search-button" type="submit">
												<i class="icon__search"></i>
											</button>
										</div>
									</div>
								</form>
							</div>
							<div class="basket"><a href="#" title="My Basket">
								<div class="basket__count">0</div><i class="icon__cart" id="cart-bar__toggle"></i></a>
							</div>
						</div>
					</div>
				</div>
			</header>
		</header>

		<main>
			<div class="main__wrapper container">
				<section class="product-grid mode--grid row">
					<div class="product-grid__wrapper">
						<div class="product-item" v-for="product of filtered" :key="product.product_id">
							<div class="product-item__wrapper">
								<div class="product-item__picture">
									<a href="#" class="btn__add-to-cart" :title="product.product_name" @click="addProduct(product)">
										<span class="btn btn__ghost--negative btn--transparent"><i class="icon__cart"></i>Add to Cart</span>
									</a>
									<picture>
										<img class="img--fluid" :alt="product.product_name" :src="product.product_img">
									</picture>
								</div>
								<div class="product-item__body">
									<div class="product-item__decription">
										<h4><a href="xxxx" :title="product.product_name">{{product.product_name}}</a></h4>
									</div>
									<div class="product-item__price">
										<span class="price--discount">${{product.product_price}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</main>

		<div class="cart-bar" id="cart-bar">
			<div class="cart-bar__header" id="cart-bar__header"><span>Cart</span><i class="icon__times"></i></div>
			<div class="cart-bar__content" id="cart-bar__content">
				<div class="cart-bar__cart-items">

					<p v-if="!cartItems.length">Корзина пуста</p>

					<div class="cart-bar__cart-item" v-for="item of cartItems" :key="item.id_product">
						<div class="cart-bar__cart-item__img">
							<img class="img--fluid" :alt="item.product_name" :src="item.product_img">
						</div>

						<div class="cart-bar__cart-item__infos">
							<h5 class="cart-bar__cart-item__title">{{item.product_name}}</h5>
							<div>Price: <span class="cart-bar__cart-item__single-price">${{item.product_price}}</span></div>
							<div class="cart-bar__cart-item__quantity">Quantity:
								<i class="icon__minus btn--delete-cart-item" @click="decreaseCartItem(item)"></i>
								<span class="cart-bar__cart-item__quantity-input">{{item.product_quantity}}</span>
								<i class="icon__plus btn--add-cart-item" @click="increaseCartItem(item)"></i>
							</div>
						</div>
						<div class="cart-bar__cart-item__delete">
							<i class="icon__times btn--remove-cart-item" @click="removeCartItem(item)"></i>
						</div>
						<div class="cart-bar__cart-item__price">
							${{item.product_quantity*item.product_price}}
						</div>
					</div>
				</div>
				<!--<div class="cart-bar__cart-total">
					<span class="cart-total__title">Total</span>
					<span class="cart-total__price">$0</span>
				</div>-->
			</div>
		</div>


	</div>
</div>
<script src="js/vue.js"></script>
<script src="js/_main.js"></script>
</body>
</html>
